@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@900&family=Playfair+Display:wght@800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #1f1f1f;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    margin-bottom: 80px;
}

header .inner h1 a {
    display: block;
    background-color: black;
    width: 1920px;
    height: 30px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 200;
}

header .inner h2 img {
    display: block;
    width: 200px;
    height: 110px;
    margin: 0 auto;
}

header .menu {
    display: flex;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
    line-height: 30px;
    color: #1f1f1f;
    
}
header .menu .left_menu {
    display: flex;
    justify-content: space-between;
}
header .menu .left_menu li {
    padding-right: 15px;
}
header .menu .right_menu {
    display: flex;
}
header .menu .right_menu li:nth-child(1) {
    margin-right: 15px;
}
header .menu .right_menu li:nth-child(2) {
    margin-right: 15px;
}
header .menu .right_menu li:nth-child(3) {
    margin-right: 15px;
}
header .menu .right_menu li:nth-child(4) {
    margin-right: 15px;
}

header .menu .right_menu img {
    width: 20px;
    height: 20px;
}

.main_visual {
    width: 1440px;
    height: 500px;
    margin: 180px 240px;   
    display: flex;
}

.main_visual .event {
    margin: 0 auto
    
}
.main_visual .event h3 {
    font-size: 64px;
    padding: 120px 0;
    font-family: 'Playfair Display', serif;
}

.main_visual .event p {
    color: #1f1f1f;
}


.cont1 {
    width: 100%;
    padding: 0 240px;
}

.cont1 .inner1 {
    height: 100%;
    position: fixed;
    top: 20px;
    bottom: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: #898989;
    font-weight: 400;
    
}
.cont1 .inner1 ul li {
    margin-bottom: 20px;
    display: block;
    align-items: center;
}

.cont1 .inner1 ul li:hover > a {
    transition: 0;
    color: #000;
}

.cont1 .inner2 {
    display: flex;
    justify-content: space-between;
}

.cont1 .inner2 ul {
    display: flex;   
}

.cont1 .inner2 ul li {
    display: flex;
    margin-right: 15px;
    color: #898989;
    font-weight: 400;
}
.cont1 .inner2 ul li:hover > a {
    transition: 0;
    color: #000;
    
}

.cont1 .inner3 {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 100px;
}

.cont1 .inner3 ul {
    display: flex;
    padding-right: 15px;
}

.cont1 .inner3 .right_menu3 img {
    width: 25px;
    height: 25px;
}

.cont1 .inner4 .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
}

.cont1 .inner4 .list .item {
    width: 290px;
    margin-bottom: 100px;
    
}

.cont1 .inner4 .list .item ul {
    width: 290px;
}

.cont1 .inner4 .list ul li:nth-child(1) {
    width: 100%;
}

.cont1 .inner4 .list ul li:nth-child(1) img {
    width: 100%;
    object-fit: cover;
}

.cont1 .inner4 .list ul li:nth-child(2) {
    color: #898989;
    font-size: 12px;
    font-weight: lighter;
}

.cont1 .inner4 .list ul li:nth-child(3) {
    color: #1f1f1f;
    font-size: 16px;
    margin: 10px 0;
}

.cont1 .inner4 .list li:nth-child(4) {
    font-size: 16px;
    font-weight: bold;
}

.cont1 .inner4 .list .item div ul li img {
    vertical-align: middle;
    margin-bottom: 40px;
    object-fit: cover;
}

footer {
    background-color: #efefef;
    padding: 50px 0;
}

footer .inner {
    width: 1440px;
    margin: 0 auto;
}

footer .inner dd {
    padding: 40px 0;
    color: #111;
    font-size: 14px;
    font-weight: 500;
}

footer .inner dd dl {
    display: flex;
    justify-content: space-between;
    
}

footer .inner ul {
    color: #898989;
    font-weight: 400;
    font-size: 12px;
}

footer .inner ul li:nth-child(2) {
    padding: 10px 0;
}

footer .inner p {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    padding: 50px 0 30px;
}

